.e-mail-field {
  width: 358px;
  height: 50px;
  border: 1px solid;
  border-color: $main-color;
  border-radius: 4px;
  background-color: transparent;
  margin-top: 15px;
  padding-top: 16px;
  padding-left: 16px;
  padding-bottom: 16px;
  color: $main-color;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25em;
  letter-spacing: 0.03em;

  &:hover,
  &:focus,
  &:active {
    border-color: $accent-color;
  }
}
.galka-icon {
  display: inline-flex;
  margin-left: 10px;
  width: 24px;
  height: 24px;
  fill: $light-color;
  transition: fill 250ms $timing-function;
}

.join-us-box {
  width: 206px;
  margin-top: 72px;
  margin-bottom: 100px;
  margin-left: 68px;
}
.sign-up-box {
  width: 570px;
  margin-top: 72px;
  margin-bottom: 100px;
}
