.adress-margin {
  margin-top: 15px;
}
.adress-box {
  //padding-top: 40px;
  text-align: center;
 
  @include for-size(tablet-landscape) {
   width: 389px;
  }
  
}


%description-style {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714em;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.adress-footer-description {
  @extend %description-style;
  color: $light-color;
  justify-content: center;
}

.contacts-description {
  @extend %description-style;
  color: rgba(255, 255, 255, 0.6);
}

.contacts-header {
  @extend %header-style;
}
