.logo {
  font-family: "Raleway", sans-serif;
  @include for-size(tablet-portrait) {
    margin-right: 0px;
  }
  @include for-size(tablet-landscape) {
    margin-right: 85px;
    display: flex;
  }
  @include for-size(desktop) {
    margin-right: 85px;
  }
  font-weight: 700px;
  font-size: 24px;
  line-height: 1.167em;
  align-items: center;
  letter-spacing: 0.03em;
  &-part-one {
    color: $accent-color;
  }
  &-part-two {
    color: $dark-color;
  }
  &-part-one-footer {
    color: $accent-color;
  }
  &-part-two-footer {
    color: $light-color;
  }
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700px;
  font-size: 24px;
  line-height: 1.167em;
  align-items: center;
  letter-spacing: 0.03em;
  margin-top: 0px;

  @include for-size(tablet-portrait) {
     text-align: center;
    }
  @include for-size(tablet-portrait) {
      text-align: center;
    }
}