.logo {
  font-family: "Raleway", sans-serif;
  display: flex;
  @media screen and (min-width: 480px) {
    margin-right: 0px;
  }
  @media screen and (min-width: 768px) {
    margin-right: 85px;
    display: flex;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 85px;
  }
  font-weight: 700px;
  font-size: 24px;
  line-height: 1.167em;
  align-items: center;
  letter-spacing: 0.03em;
  &-part-one {
    color: $accent-color;
  }
  &-part-two {
    color: $dark-color;
  }
  &-part-one-footer {
    color: $accent-color;
  }
  &-part-two-footer {
    color: $light-color;
  }
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700px;
  font-size: 24px;
  line-height: 1.167em;
  align-items: center;
  letter-spacing: 0.03em;
  margin-top: 0px;

  @media screen and (min-width: 480px) {
     text-align: center;
    }
    @media screen and (min-width: 480px) {
      text-align: center;
    }
}