.logo {
  font-family: "Raleway", sans-serif;
  margin-right: 50px;
  font-weight: 700px;
  font-size: 24px;
  line-height: 1.167em;
  letter-spacing: 0.03em;
  &-part-one {
    color: $accent-color;
  }
  &-part-two {
    color: $dark-color;
  }
  &-part-one-footer {
    color: $accent-color;
  }
  &-part-two-footer {
    color: $light-color;
  }
}
