.menu-list {
  display: none;
  //display: flex;
}
.menu-item:not(:last-child) {
  margin-right: 30px;
}
.menu-link {
  font-family: "Roboto", sans-serif;
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143em;
  letter-spacing: 0.02em;
  color: $semidark-color;
  text-decoration: none;
  transition: color 250ms $timing-function;
}
.current::after {
  content: "";
  position: relative;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: $accent-color;
  top: 32px;
}
.menu-link:hover::after,
.menu-link:focus::after,
.menu-link:enabled::after {
  transform: scaleX(1);
}

.menu-link:focus,
.menu-link:hover,
.menu-link:enabled {
  color: $accent-color;
}
