.menu-button {

    @include for-size(tablet-portrait) {
    display: inline-flex;
    margin-left: 270px;
    padding: 0;
    border: none;
    background-color: transparent;
    }
    
    @include for-size(tablet-landscape) {
        display: none;
    }
    
    @include for-size(desktop) {
        display: none;
    }
    
  &.icon-cross {
  display: none;
 }

  &.is-open .icon-cross {
  display: block;
 }

 &.is-open .icon-menu {
  display: none;
 }
}
.menu-button:hover,
.menu-button:focus .icon-menu {
    fill: $accent-color;
}