.menu-button {

    @include for-size(tablet-portrait) {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    }
    
    @include for-size(tablet-landscape) {
        display: none;
    }
    
    @include for-size(desktop) {
        ddisplay: none;
    }
    
  &.icon-cross {
  display: none;
 }

  &.is-open .icon-cross {
  display: block;
 }

 &.is-open .icon-menu {
  display: none;
}


.menu-container {
   @include for-size(tablet-portrait) 

   {justify-content: space-between;
     flex-grow: 1;
     position: absolute;
     width: 100%;
     height: 400px;
     top: 100px;
     left: 0;
     background: $light-color;
     text-align: center;
     display: none;
    }

    &.is-open {
        display: block;  
    }
    @include for-size(tablet-landscape) {
        display: none;
    }

    @include for-size(desktop) {
        ddisplay: none;
    }
}
}