
.modal form {
	height: 100%;
	padding: 40px;
	margin-left: auto;
	margin-right: auto;
}
.form-field {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;


 label {
	font-family: Roboto;
	font-weight: 400;
	font-size: 12px;
	line-height: 1.166;
	letter-spacing: 0.01em;
	color: #757575;
	margin-bottom: 4px;}
 .form-icon {
	position: absolute;
	left: 15px;
	top: 55%;
	transform: translateY(-50%);
 }
}
.form-input{
	margin: 0px;
	padding-left: 42px;
	padding-top: 12px;
	padding-bottom: 12px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	height: 40px;
	margin-bottom: 10px;

 &:hover,
 &:focus {
	border: 1px solid $acent-text-color;
	outline: none;
  & + svg,
  & + svg {
	fill: $acent-text-color;
  }
 }
}

textarea {
	resize: none;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	height: 120px;
	padding: 12px 16px;
	margin-bottom: 20px;

 &:hover,
 &:focus {
	border: 1px solid $acent-text-color;
	outline: none;}
}
