.portfoliobtn {
  background-color: $semilight-color;
  color: $semidark-color;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625em;
  letter-spacing: 0.03em;
  transition: color 250ms $timing-function;
  border: 1px solid $semilight-color;
  border-radius: 4px;
  padding: 6px 22px;
  margin-right: 8px;
  display: inline-block;
  transition: background-color 250ms $timing-function;

  &:hover,
  &:focus {
    background-color: $accent-color;
    color: $light-color;
  }

  &-flexbox {
    display: flex;
    flex-wrap: wrap;

  }
}

