html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.714em;
  letter-spacing: 0.03em;
  color: $main-color;
}
.container {
  width: 1200px;
  padding-left: 15 px;
  margin-right: auto;
  margin-left: auto;
}
.flexbox {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.flexbox-list {
  display: flex;
}
.flexbox-center {
  display: flex;
  justify-content: center;
}
.flexbox-space-between {
  display: flex;
  justify-content: space-between;
}

.section {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 15px;
}

.center {
  text-align: center;
}

.padding-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

%text-style {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714em;
  letter-spacing: 0.03em;
}

%title-style {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

%header-style {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.67em;
  text-align: center;
  letter-spacing: 0.03em;
  color: $semidark-color;
  margin-bottom: 50px;
  margin-top: 0px;
}

.inline-block {
  display: inline-block;
}
