html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}
/* установкао сновных правил*/
body {
	font-family: Roboto, sans-serif;
	font-style: normal;
	letter-spacing: 0.03em;
	font-weight: 400;

}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul {
	margin: 0 0;
	padding: 0 0;
}
/*основные утилиты*/
.conteiners {
	margin: auto;
	max-width: 1200px;
	padding: 0 15px;
}

li {
	list-style-type: none;
}
.link {
	text-decoration: none;
	color: #212121;
}

.title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	letter-spacing: 0.03em;
	color: var(--main-text-color);
}

