html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  outline: 2px solid tomato;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.714em;
  letter-spacing: 0.03em;
  color: $main-color;
}

.flexbox {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}


.socialflexbox-cente {
  display: flex;
  justify-content: center;
}
.flexbox-space-between {
  //display: flex;
  //justify-content: space-between;
}

.section {
 
  margin-right: auto;
  margin-left: auto;
  //padding: 0 15px;
}

.center {
  text-align: center;
}

.padding-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

%text-style {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714em;
  letter-spacing: 0.03em;
}

%title-style {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

%header-style {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.67em;
  text-align: center;
  letter-spacing: 0.03em;
  color: $semidark-color;
  margin-bottom: 0px;
  margin-top: 0px;
}

.inline-block {
  display: inline-block;
}

.footer-flexbox {
  display: flex;
}
body.modal-open {
  overflow: hidden;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}