/*Десктоп нная версия 1600 (контейнер 1200)*/
/* таблетка 768 ( котейнер 668) */
/* мобайл 320 (контейнер 280)*/

$accent-color: #2196f3;
$dark-color: #000000;
$semidark-color: #212121;
$background-color: #2f303a;
$main-color: #757575;
$semilight-color: #f5f4fa;
$light-color: #ffffff;
$backround-light: #f5f4fa;
$border-color: #ececec;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
