.advantage-box {
  @media screen and (min-width: 480px) {
    width: 450px;
  }

  @media screen and (min-width: 768px) {
    width: 350px;
  }

  @media screen and (min-width: 1200px){
    width: 270px;
  }
  //padding: 25px 100px;
  margin-bottom: 30px;
  background-color: $backround-light;
}
.advantage-flexbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.advantage-item {
  @media screen and (min-width: 480px) {
    width: 450px;
  }

  @media screen and (min-width: 768px) {
    width: 350px;
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
    
  }


  //&:not(:last-child) {
    //@media screen and (min-width: 1200px) {
  
     // margin-right: 30px;
    
    
}





.advantage-description {
  @extend %text-style;
  color: $main-color;
  margin-bottom: 0px;
}
.advantage-lokator:before {
  content: " ";
  display: block;
  @media screen and (min-width: 480px) {
    width: 450px;
  }

  @media screen and (min-width: 768px) {
    width: 350px;
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
  }
  height: 120px;
  background-image: url(../imagespage1/advantagephoto/lokator.svg);
  background-position: 50% 50%;
  background-size: auto auto;
  background-repeat: no-repeat;
  background-color: $backround-light;
  margin-bottom: 30px;
}
.advantage-clock:before {
  content: " ";
  display: block;
  @media screen and (min-width: 480px) {
    width: 450px;
  }

  @media screen and (min-width: 768px) {
    width: 350px;
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
  }
  
  height: 120px;
  background-image: url(../imagespage1/advantagephoto/clock.svg);
  background-position: 50% 50%;
  background-size: auto auto;
  background-repeat: no-repeat;
  background-color: $backround-light;
  margin-bottom: 30px;
}
.advantage-diagram:before {
  content: " ";
  display: block;
  @media screen and (min-width: 480px) {
    width: 450px;
  }

  @media screen and (min-width: 768px) {
    width: 350px;
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
  }
  height: 120px;
  background-image: url(../imagespage1/advantagephoto/diagram.svg);
  background-position: 50% 50%;
  background-size: auto auto;
  background-repeat: no-repeat;
  background-color: $backround-light;
  margin-bottom: 30px;
}

.advantage-cosmo:before {
  content: " ";
  display: block;
  @media screen and (min-width: 480px) {
    width: 450px;
  }

  @media screen and (min-width: 768px) {
    width: 350px;
  }

  @media screen and (min-width: 1200px){
    width: 270px;
  }
  height: 120px;
  background-image: url(../imagespage1/advantagephoto/cosmo.svg);
  background-position: 50% 50%;
  background-size: auto auto;
  background-repeat: no-repeat;
  background-color: $backround-light;
  margin-bottom: 30px;
}
.advantage-title {
  @extend %title-style;
  color: $semidark-color;
}
