.advantage-box {
  width: 270px;
  padding: 25px 100px;
  margin-bottom: 30px;
  background-color: $backround-light;
}

.advantage-title {
  @extend %title-style;
  color: $semidark-color;
}

.advantage-description {
  @extend %text-style;
  color: $main-color;
  margin-bottom: 0px;
}
.advantage-lokator:before {
  content: " ";
  display: block;
  width: 270px;
  height: 120px;
  background-image: url(../imagespage1/advantagephoto/lokator.svg);
  background-position: 50% 50%;
  background-size: auto auto;
  background-repeat: no-repeat;
  background-color: $backround-light;
  margin-bottom: 30px;
}
.advantage-clock:before {
  content: " ";
  display: block;
  width: 270px;
  height: 120px;
  background-image: url(../imagespage1/advantagephoto/clock.svg);
  background-position: 50% 50%;
  background-size: auto auto;
  background-repeat: no-repeat;
  background-color: $backround-light;
  margin-bottom: 30px;
}
.advantage-diagram:before {
  content: " ";
  display: block;
  width: 270px;
  height: 120px;
  background-image: url(../imagespage1/advantagephoto/diagram.svg);
  background-position: 50% 50%;
  background-size: auto auto;
  background-repeat: no-repeat;
  background-color: $backround-light;
  margin-bottom: 30px;
}

.advantage-cosmo:before {
  content: " ";
  display: block;
  width: 270px;
  height: 120px;
  background-image: url(../imagespage1/advantagephoto/cosmo.svg);
  background-position: 50% 50%;
  background-size: auto auto;
  background-repeat: no-repeat;
  background-color: $backround-light;
  margin-bottom: 30px;
}
.advantage-title {
  @extend %title-style;
  color: $semidark-color;
}
