.clients-box {

  @media screen and (min-width: 320px) {
    width: 150px;
    
  }

  @media screen and (min-width: 480px) {
    width: 208px;
    margin-right: 0;
  }

  @media screen and (min-width: 768px) {
    width: 208px;
  }

  @media screen and (min-width: 1200px) {
    width: 170px;
  }
  
  height: 90px;
  padding: 19px;
  margin-top: 30px;
  text-align: center;
  background-color: $light-color;
  border: 1px solid $main-color;
  border-radius: 4px;
  transition: border-color 250ms $timing-function;
}

.clients-box:hover {
  border-color: $accent-color;
}

.clients-box:hover .client-icon {
  fill: $accent-color;
}

.clients-header {
  @extend %header-style;
}

.client-icon {
  fill: $main-color;
  transition: fill 250ms $timing-function;
}
.clientsflexbox {
  display: flex;
  flex-wrap: wrap;
justify-content: space-between;
}

/*
.client-item 
{
  
}*/