.footer-box {
  width: calc((100% - 30px) / 2);
}
.footer-width {
  width: 1200px;
}
.footer-title {
  @extend %title-style;
  color: $light-color;
}

.footer-section {
  margin-right: auto;
  margin-left: auto;
  background-color: $background-color;
  padding: 60 0 0 0;
}
