.footer-box {
  
  @include for-size(desktop) {
    width: calc((100% - 30px) / 2);
  }
  text-align: center;
  padding-bottom: 60px;
}
.footer-width {
  width: 1200px;
}
.footer-title {
  @extend %title-style;
  color: $light-color;
  
}

.footer-section {
  margin-right: auto;
  margin-left: auto;
  background-color: $background-color;
  padding-top: 60px;
  align-items: center;
  display: flex;
}
.footer-flexbox-one {
 
  @include for-size(desktop) {
    display: flex;
  }
  
}

.footer-flexbox-two   {

@include for-size(tablet-landscape) {
  display: flex;
}
@include for-size(desktop) {
  display: flex;
}

.footer-flexbox {
  display: flex;
}
}