.page-header {

  @include for-size(tablet-portrait) {
    padding-top: 15px;
    padding-right: 0px;
    padding-bottom: 15px;
    padding-left: 0px;
    position: relative;
  }

  @include for-size(tablet-landscape) {
    padding-top: 25px;
    padding-right: 0px;
    padding-bottom: 25px;
    padding-left: 0px;
  }
  @include for-size(desktop) {
    padding-top: 25px;
    padding-right: 0px;
    padding-bottom: 25px;
    padding-left: 215px;
  }

  border-bottom: 1px solid $border-color;

  

}

/*.page-header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 80px;
}*/

.navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}


.list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.portfolio-link {
  font-family: "Roboto", sans-serif;
  color: $main-color;
  text-decoration: none;
}

