.hero {
  background-color: rgba(47, 48, 58, 0.4);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4) 0%,
      rgba(47, 48, 58, 0.4) 100%
    ),
    url(../imagespage1/header.jpg);
  background-size: cover;

  height: 600px;
  padding: 200px 0;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: top;
}
.boxhero {
  margin-right: auto;
  margin-left: auto;
}
.page-title {
  font-weight: 900;

  @include for-size(tablet-portrait) {
    font-size: 26px;
  }
  @include for-size(tablet-landscape) {
    font-size: 26px;
  }
  @include for-size(desktop) {
    font-size: 44px;
  }

  line-height: 1.363em;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $light-color;
  //margin: 0 0 30px;
  margin: auto;
  width: auto;
}

.white-title {
  color: $light-color;
}
