.works-box {
  width: 450px;
  //width: 370px;
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
  transition: box-shadow 250ms $timing-function;
}

.works-margin:nth-child(-n + 3) {
  margin-top: 34px;
}

.works-width {
  @include for-size(tablet-portrait) {
    width: 450px;
  }

  @include for-size(tablet-landscape) {
    width: 354px;
   
  }

  @include for-size(desktop) {
     width: calc((100% - 60px) / 3);
  
    }
  
  
}

.works-box:hover {
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.2);
}
.work-actions {
  position: absolute;
  top: 23px;
  left: 23px;
  padding-right: 23px;
  opacity: 0;
  transition: 250ms $timing-function;
}

.works-description {
 
  padding: 20px 24px;
}

.flexbox-space-between {
  display: flex;
  justify-content: space-between;
}
.portfolio-link:hover .work-actions {
  opacity: 1;
}
